h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
*{
    color: white;
    background-color: black;
    text-align: center;
}
img{
    margin-top : 10px;
    border : solid white 5px;
    width : 100%;
}
.poster{
    height: 80%;
    margin-left : 10%;
    
}
